div {
    max-width: 100%;
    border: 1px solid black;
    margin: 10px;
    padding-left: 12px;
    border-radius: 3px;
    
}

.alert-primary {
    color: rgba(34, 91, 153, 1);
    background-color: rgba(203, 229, 254, 1);
    border-color: rgba(191, 221, 255, 1);
}

.alert-secondary {
    color: rgba(70, 75, 79, 1);
    background-color:rgba(226, 227, 229, 1);
    border-color:rgba(218, 220, 223, 1);
}

.alert-success {
    color: rgba(53, 110, 65, 1);
    background-color:rgba(212,237,218,1);
    border-color: rgba(213, 236, 218, 1);
}

.alert-danger {
    color: rgba(139, 62, 68, 1);
    background-color:rgba(248, 215, 218, 1);
    border-color:rgba(247, 210, 213, 1);
}

.alert-warning {
    color: #8b6c0f;
    background-color:#fff3cd;
    border-color:#fff5d6;
}

.alert-info {
    color: #2a6a76;
    background-color:#d1ecf1;
    border-color:#c1e7ec;
}

.alert-light {
    color: #89898a;
    background-color:#fefefe;
    border-color:#fefefe;
}

.alert-dark {
    color: #404244;
    background-color:#d6d8d9;
    border-color:#d5d7d8;
}
